---
import { Icon } from 'astro-icon/components';

interface Props {
    imagen: string;
     titulo: string;
    descripcion: string;
    lista: string[];
}
const { imagen, titulo, descripcion, lista }: Props = Astro.props;
---

<div class="tarjeta">
    <div class="imagen">
        <img src={imagen} alt={titulo} />
    </div>
     <h3>{titulo}</h3>
    <p>{descripcion}</p>
    <ul class="iconos">
        {lista && lista.map((item) => (        
            <Icon name={item} width="24" height="24" />
        ))}
    </ul>
</div>

<style>
    .tarjeta {
        flex-basis: 315px;
    }
    .imagen img {
        width: 100%;
        height: 315px;
        object-fit: cover;
    }

    .iconos {
        display: flex;
        gap: 8px;
    }
</style>
